:host {
  .temperature-container {
    margin-top: 20px;
  }

  .container {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .formGroup-container {
    display: flex;
    gap: 15px;
  }

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
