:host {
  .temperature-container {
    margin-top: 20px;
    flex-grow: 1;
  }

  .container {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .formGroup-container {
    display: flex;
    gap: 15px;
  }

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
