<div class="container">
  <div>
    <form [formGroup]="temperatureFormGroup" class="formGroup-container">
      <div class="flex">
        <label>Celcius</label>
        <input type="text" class="form-control" style="width: 500px;" [ngClass]="{'is-invalid': temperatureFormGroup.get('celciusToFarenheit')?.errors}" formControlName="celciusToFarenheit">
        <div class="invalid-feedback" *ngIf="temperatureFormGroup.get('celciusToFarenheit')?.errors">
          {{ temperatureFormGroup.get('celciusToFarenheit')?.errors!['temperature']}}
        </div>
      </div>
      <div class="flex">
        <label>Farenheit</label>
        <input type="text" class="form-control" style="width: 500px;" [ngClass]="{'is-invalid': temperatureFormGroup.get('farenheitToCelcius')?.errors}" formControlName="farenheitToCelcius">
        <div  class="invalid-feedback" *ngIf="temperatureFormGroup.get('farenheitToCelcius')?.errors">
          {{ temperatureFormGroup.get('farenheitToCelcius')?.errors!['temperature']}}
        </div>
      </div>
    </form>
  </div>
  <div class="temperature-container">
    <app-temperature-scale-chart [formControl]="temperatureBarFormControl" (isDragging)="onDraggingChart($event)"></app-temperature-scale-chart>
  </div>
</div>
